name: Deploy Flutter Web to CapRover

on:
  push:
    branches: [ "master" ]  # promijeni ako tvoj branch nije master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Build Flutter Web
        run: flutter build web --release

      - name: Install CapRover CLI
        run: npm install -g caprover

      - name: Deploy to CapRover
        env:
          CAPROVER_URL: ${{ secrets.CAPROVER_URL }}
          CAPROVER_PASSWORD: ${{ secrets.CAPROVER_PASSWORD }}
          CAPROVER_APP: ${{ secrets.CAPROVER_APP }}
        run: |
          caprover login --caproverUrl $CAPROVER_URL --password $CAPROVER_PASSWORD --saveToFile
          caprover deploy --tarFile ./build/web --appName $CAPROVER_APP

